# Dependencies
/vendor/

# Package Lock Files
# (Highly recommended to ignore for packages/libraries, unlike full applications)
composer.lock

# Testing & Code Quality Caches
/.phpunit.result.cache
/.phpunit.cache/
/phpstan-result.cache
/.php-cs-fixer.cache
/.pesttracker
/html/
/coverage/

# Local Environment Configs (If using Testbench or local testing apps)
.env
.env.testing
.env.*.local

# IDEs and Editors
/.idea/
/.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.build/

# Operating System Files
.DS_Store
Thumbs.db